/* recover empty space */
.tg_head_split,
.im_page_wrap,
.im_message_wrap,
.im_send_panel_wrap,
.im_send_form,
.im_history_typing {
	max-width: none;   
}

.footer_empty {
 	height: 0;   
}


/* make sidebar more sane with the extra space */
.tg_head_logo_wrap,
.im_dialogs_col_wrap {
	width: 20%;
}
.tg_head_main_wrap,
.im_history_col_wrap {
 	width: 80%;
}


/* pretty up the chat area a bit */
.im_history_wrap {
	background-color: #A1B5C4;   
}

/* Make the emoji and sticker panel nicer */
.composer_emoji_tooltip {
    width: 420px;
    margin-left: -320px;
    margin-top: -455px

}

.composer_emoji_tooltip_tabs_wrap {
    width: 420px;
    height: 400px;
}

.composer_emoji_tooltip_tabs_contents {
    width: 840px;
}

.composer_emoji_tooltip_tab_emoji_content,
.composer_emoji_tooltip_tab_stickers_content {
    width: 420px;
    height: 400px;
}

.composer_emoji_tooltip .scroller_scrollable_container {
    height: 355px;
}

.non_msie .composer_emoji_tooltip_tabs_stickers_active .composer_emoji_tooltip_tabs_contents {
    -webkit-transform: translate3d(-420px,0,0);
    -moz-transform: translate3d(-420px,0,0);
    -o-transform: translate3d(-420px,0,0);
    -ms-transform: translate3d(-420px,0,0);
    transform: translate3d(-420px,0,0);
}

.composer_emoji_tooltip_tail {
    left: 79%;
}

/* Make messages nice rouded boxes */
.im_message_wrap {
	margin: 0px 5px 0px 12px;
}
.im_content_message_wrap { 
 	background-color: #fdfdfd;
    box-shadow: 0px 0px 3px 0px rgba(100,100,100,.5);
    border-radius: 5px;
    margin: 4px 5px 4px 8px;
    padding: 8px;
    max-width: 75%;
}

.im_message_in {
 	float: left;   
}

.im_message_out {
 	float: right;   
}

a.im_message_contact_photo,
a.im_message_from_photo {
 	margin-top: 0px;   
}

.im_grouped .im_message_body,
.im_grouped_short .im_message_body {
 	margin-left: 0px;   
}

.im_grouped .im_message_body_media .im_message_photo_thumb {
	margin-top: 0;
}

.im_grouped .im_content_message_wrap,
.im_grouped_short .im_content_message_wrap {
   	margin-left: 63px;
    padding-left: 10px;
}

.im_message_selected .icon-select-tick,
.im_history_selectable .im_message_outer_wrap:hover .icon-select-tick  {
 	margin-left: -38px;   
}

.im_history_typing,
.im_history_typing a.im_history_typing_author {
 	color: #fdfdfd;   
}
